#contact-head {
    background-image: url(assets/good_jesus.jpg);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-content input{
    margin-bottom: 10px;
}
#contact-content label{
    margin-bottom: 10px;
}

#contact input{
    background-color: lightgray;
}

#contact textarea{
    background-color: lightgray;
}

#contact-page{
    padding-bottom: 50px;
}