#contact-head {
    background-image: url(assets/good_jesus.jpg);
}

#contact-content input{
    margin-bottom: 10px;
}
#contact-content label{
    margin-bottom: 10px;
}

#contact input{
    background-color: lightgray;
}

#contact textarea{
    background-color: lightgray;
}

#contact-page{
    padding-bottom: 50px;
}