#tours-head {
    background-image: url(assets/good_jesus.jpg);
}

#tours {
}

#tours-index a{
    color: black;
    font-size: h5;
}

#tours-index {
    padding-top: 50px;
    padding-bottom: 50px;
}

#availables-tours{
/*    border-radius: 20px;*/
/*    background-color: yellow;*/
/*    margin: 5%;*/
}

#showcase #description {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

#actualCase h5{
    padding: 10px;
}

.desctitle h6{
    font-weight: bold;
/*    padding: 10px;*/
}

#show-about-title{
    padding-top: 40px;
    padding-bottom: 20px;
}


#showcase .title h3{
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bold;
}

#showcase .btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

#showcase #dropdownMenuButton {
    background-color: white;
    border-radius: 10px;
    color: darkgray;
    border-color: lightgray;
}

#frevow{
    border-radius: 20px;
}

#showcase #dropdownMenuButton a{
    color: lightgray;
}

@media only screen and (max-width: 600px) {
/*
    #showcase {
        align-content: center;
    }
    #showcase .card {
          align-content: center;
    }
*/
}