#tours-head {
    background-image: url(assets/good_jesus.jpg);
}

#tours {
}

#tours-index a{
    color: black;
    font-size: h5;
}

#tours-index {
    padding-top: 50px;
    padding-bottom: 50px;
}

#availables-tours{
/*    border-radius: 20px;*/
/*    background-color: yellow;*/
/*    margin: 5%;*/
}